<div data-controller="discbag" class="flex flex-col w-full items-center">
  <div class="flex flex-col items-center font-righteous text-4xl -mt-4">
      <div class="flex flex-row w-full justify-center text-center">
        <h2 class="font-bold text-6xl font-righteous text-zinc-800">Discbag</h2>
      </div>
  </div>





</div>