<h1>Discbag</h1>
<!-- show current discbag -->
<!-- search database for discs -->
<!-- results to pick from -->
<!-- input form if not available (add new Disc to disc list and select)-->
<!-- Add Disc button -->