<div class="flex flex-col w-full items-center">
  <div class="flex flex-col items-center"> 
    <div class="flex flex-row w-full justify-center">
      <h1 class="font-bold sm:text-8xl text-6xl font-righteous text-zinc-800">Discbag</h1>
    </div>
  </div>

  <div class="flex flex-col glass-box rounded-[3rem] w-full h-[50vh] mt-6 py-2">
    <%= render @discs %>
  </div>


</div>