
<div class="w-full text-right font-righteous text-8xl leading-[4.6rem] text-zinc-800">DG<br>Caddy</div>

<div class="flex w-full justify-end">
  <div class="w-2/3 text-right font-raleway text-2xl mt-6 text-zinc-700">A Digital Partner for Solo Rounds and Fieldwork</div>
</div>
<div class="flex justify-start w-[full] absolute left-10 bottom-10">
  <div class="flex flex-col">
    <% if !user_signed_in? %>
      <%= link_to "Register", new_user_registration_path, class:"btn-yellow mt-10 w-32" %>
      <%= link_to "Sign In", new_user_session_path, class: "btn-green mt-4 w-32" %>
    <% end %>
  </div>
</div>