<div data-controller="maps" data-action="google-maps-callback@window->maps#initMap">
  <% content_for :head do %>
    <%= javascript_include_tag  "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:maps_api]}&callback=dispatchMapsEvent", async: true, defer: true, "data-turbolinks-eval": false %>
  <% end %>
  <div class="w-full text-right pr-12 font-righteous text-4xl leading-[4.6rem] text-zinc-800"><%= current_user.email %></div>

  <div class="flex justify-evenly items-center h-[3rem] bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 rounded-lg border border-gray-200 mt-8">
    <div class="font-bold font-righteous text-lg max-w-[50%] text-center" data-maps-target="latitude"></div>
    <div class="font-raleway max-w-[35%] text-center" data-maps-target="longitude"></div>
  </div>

  <div class="flex w-full justify-center">
    <div id="map" class="w-full h-[400px]" data-maps-target="mapPane"></div>
  </div>
</div>