<div id="<%= dom_id disc %>" class="flex glass-box gap-4 px-10">
  <p class="my-5">
    <strong class="block font-medium mb-1">Maker:</strong>
    <%= disc.maker %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= disc.model %>
  </p>
</div>
