<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing disc</h1>

  <%= render "form", disc: @disc %>

  <%= link_to "Show this disc", @disc, class: "btn-blue" %>
  <%= link_to "Discbag", home_discbag_path, class: "btn-blue" %>
  <%= button_to 'Remove this disc', disckey_path(@disckey), method: :delete, class: "btn-grey" %>
</div>