<div class="flex flex-col w-full items-center md:w-2/3"> 
  <div class="flex flex-row w-full justify-center items-end">
    <h2 class="font-bold sm:text-8xl text-6xl font-righteous text-right">Courses</h2>
  </div>

  <div class="flex flex-col w-full gap-4 mt-4">
    <% @list.each do |element| %>
      <div class="flex justify-between items-center px-6 glass-box">
        <div class="font-bold font-righteous text-lg max-w-[50%] text-center"><%= link_to "#{element.name}", element %></div>
        <div class="font-raleway max-w-[35%] text-center"><%= element.city %>,&nbsp<%= element.state %></div>
      </div>
    <% end %>
  </div>
   
  <%= link_to 'New course', new_course_path, class: "btn-green mt-4 w-full" %>
</div>