@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

@layer components {
  .btn-yellow {
    @apply py-2 px-4 min-w-fit text-center border-b-2 border-teal-600 bg-gradient-to-t from-yellow-300 via-amber-200 to-amber-100 rounded-full font-raleway font-bold text-gray-700 shadow-[inset_0_-2px_4px_rgba(255,255,255,0.5)];
  }

  .btn-green {
    @apply py-2 px-4 min-w-fit text-center border-b-2 border-teal-600 bg-gradient-to-t from-green-300 via-lime-200 to-lime-100 rounded-full font-raleway font-bold text-gray-700 shadow-[inset_0_-2px_4px_rgba(220,220,255,0.2)];
  }

  .btn-blue {
    @apply py-2 px-4 min-w-fit text-center border-b-2 border-teal-600 bg-gradient-to-t from-blue-400 via-sky-200 to-sky-100 rounded-full font-raleway font-bold text-gray-700 shadow-[inset_0_-2px_4px_rgba(220,220,255,0.2)];
  }

  .buck-navlink {
    @apply flex font-lato font-bold text-sm no-underline hover:text-white mx-4 my-4;
  }

  .buck-navlink-hide {
    @apply flex font-lato font-bold text-sm no-underline hover:text-white hidden sm:flex mx-[3vw] my-2;
  }
}

@keyframes bg-animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

body {
  animation: bg-animate 120s infinite;
}