<div class="container w-[100vw] items-center" data-controller="alert"> 
  <%= notice %>
  <button class="btn-close" data-action="alert#close" aria-label="Close"><i class="fa-solid fa-x"></i></button>
</div>